body {
    overflow-x: hidden;
}
 
 /* Nav Bar */
.head-section {
    display: flex;
    align-items: center;
    gap: 150px;
    margin-top: 0.7rem;
    margin-left: 14.2rem;
}

.head-section img {
    border-radius: 200px;
    width: 100px;
    height: 100px;
}

.bar {
    color: rgb(231, 231, 21);
    font-size: 1.2rem;
}
.active {
    font-weight: 900;
    color: rgb(231, 231, 21);
    
 }

 /* Home Page */
.background {

    left: 14rem;
    position: absolute;
    z-index: -1;
    top: 7rem;
}

.background img {
    width: 700px;
    height: 450px;
}


.contentOne {
    margin-top: 6rem;
    margin-left: 18rem;
    font-size: 1.0rem;
    font-weight: 500;
    color: rgb(235, 240, 245);
    
}

.heading {
    color: azure;
    font-size: 1.8rem;
    font-weight: 700;
}

.view {
    margin-top: 3.0rem;
    outline: none;
    border-style: none;
    color: #000;
    background-color: #ffffff;
    width: 200px;
    border-radius: 30px;
    height: 50px;
}

.header {
    margin-left: 25rem;
    margin-top: 10rem;
}

.gallery {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-left: 7.6rem;
    margin-bottom: 5rem;
}

.gallery img {
    width: 230px;
    height: 280px;
}

.image2 {
    margin-left: -8rem;
}

.image3 {
    margin-left: -8rem;
}

/* Shop Online Page */

.content {
    width: 60%;
    padding: 10px;
    margin-left: 12rem;
    margin-bottom: 2rem;
}

.info {
    width: 75%;
    background-color: rgb(216, 240, 216);
    margin-top: 1rem;
    margin-left: 8rem;
    opacity: 0.7;
    padding: 20px;
}
.info p {
    font-size: 2rem;
    color: green;
}

.smaller-text {
    font-size: 1.2rem;
}

.contain {
    margin-top: 2rem;
    margin-left: 17rem;
    border-radius: 1px;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 11px;
    background-color: lightskyblue;
    width: 50%;
}

.contain li {
    list-style-type: none;
    gap: 6px;
    background-color: rgb(98, 195, 233);
    border-radius: 3px;
}

span {
    font-weight: 800;
}

.receipt {
    display: none;
}

/* Footer */
.footer p {
    color: white;
    font-size: 22px;
    margin-bottom: 0px;
    height: 40px;
}
/* Catalog */

.custom-container {
    margin-left: 15%; 
    
 } 
.pic img {
    width: 260px;
    height: 300px;
}
.image-gallery {
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.caption {
    background-color: rgb(153, 152, 152);
    color: #ffffff;
    font-size: 1.2rem;
}